nav {
	background-color: #236E83;
	border-bottom: solid 2px #044354;
	color: #FFFFFF;
}
nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	flex-flow: row nowrap;
}
nav ul.mainnav li {
	padding: 0;
}
nav ul.mainnav li:last-of-type {

}
nav ul.mainnav li a {
	color: #FFFFFF;
	text-transform: uppercase;
	text-decoration: none;
	text-align: left;
	font-size: 1.6rem;
	line-height: 3.6rem;
	display: block;
	padding:15px 25px;
}
nav ul.mainnav li:last-of-type a {
	line-height:1.8rem;
}
nav ul.mainnav li a:hover {
	color:#8AB1BD;
}
nav ul.mainnav li a.active {
	background-color:#044354;
}
nav ul.mainnav li a span {
	font-size:1.2rem;
}
nav ul.mainnav li:last-of-type a span {
	font-size:1.2rem;
	line-height:1.4rem;
}
nav ul.social-block {
	position: absolute;
	top: 18px;
	left: 700px;
}
nav ul.social-block li {
	padding: 0 12px 0 0;
}
nav ul.social-block li a {
	color:#FFFFFF;
	font-size:2.4rem;
}