html
  font-size: 62.5%

body
  font-family: 'Open Sans', sans-serif
  font-size: 1.4rem

.pagebox
  width: 1240px
  margin: 0 auto
  text-align: left
  position: relative

a, a:link, a:active, a:visited
  color: #BF0000

a:hover
  color: #F5A0A0

.clearfix:before,
.clearfix:after
  content: " "
  display: table

.clearfix:after
  clear: both

.App
  text-align: center

.App-logo
  animation: App-logo-spin infinite 20s linear
  height: 80px

.App-header
  background-color: #222
  height: 150px
  padding: 20px
  color: white

.App-intro
  font-size: large

nav
  background-color: #236E83
  border-bottom: solid 2px #044354
  color: #FFFFFF

nav ul
  margin: 0
  padding: 0
  list-style: none
  display: flex
  flex-flow: row nowrap

nav ul.mainnav li
  padding: 0

nav ul.mainnav li a
  color: #FFFFFF
  text-transform: uppercase
  text-decoration: none
  text-align: left
  font-size: 1.6rem
  line-height: 3.6rem
  display: block
  padding: 15px 25px

nav ul.mainnav li:last-of-type a
  line-height: 1.8rem

nav ul.mainnav li a:hover
  color: #8AB1BD

nav ul.mainnav li a.active
  background-color: #044354

nav ul.mainnav li a span
  font-size: 1.2rem

nav ul.mainnav li:last-of-type a span
  font-size: 1.2rem
  line-height: 1.4rem

nav ul.social-block
  position: absolute
  top: 18px
  left: 700px

nav ul.social-block li
  padding: 0 12px 0 0

nav ul.social-block li a
  color: #FFFFFF
  font-size: 2.4rem

header
  background: no-repeat center 30%
  background-size: cover
  max-width: 1920px
  height: 750px
  margin: 0 auto

header figure
  margin: 0
  padding: 0

header .logo
  width: 250px
  position: absolute
  top: -68px
  right: 0

header .logo img
  max-width: 100%

header .callout
  padding: 100px 0 20px

.start-content
  position: relative
  margin: -200px auto 0
  background-color: #FFFFFF
  padding: 50px 0
  z-index: 7
  max-width: 1520px

.whats-on-callouts
  position: relative
  margin: -200px auto 0
  background-color: #FFFFFF
  padding: 50px 0
  z-index: 7
  max-width: 1520px

.whats-on-callouts article
  display: block
  width: 50%
  text-align: center
  vertical-align: top
  float: left

.whats-on-callouts article figure
  margin: 0

.whats-on-callouts article .heading
  margin: 20px 0

.whats-on-callouts article p
  display: block
  margin: 0 auto
  padding: 20px 0
  font-size: 1.6rem
  line-height: 2.2rem
  width: 395px
  text-align: left

.whats-on-callouts article a
  display: inline-block
  padding: 16px 0
  border-radius: 10px
  border: solid 2px #BF0000
  text-decoration: none
  text-transform: uppercase
  font-size: 1.8rem
  font-weight: 700
  width: 200px

.whats-on-callouts article a:hover
  border-color: #F5A0A0

.testimonials
  background-color: #AE2D18
  padding: 30px
  text-align: center
  margin-bottom: -115px

.testimonials img
  display: block
  margin: 0 auto

.testimonials p
  display: block
  width: 80%
  margin: 20px auto 10px
  font-size: 2rem
  color: #FFFFFF

.testimonials .author
  text-align: right
  font-size: 1.6rem
  font-style: italic
  color: #FFFFFF

.beige
  background-color: #ffebd6
  padding: 200px 0 50px

.place-to-be-callouts
  text-align: center

.place-to-be-callouts figure
  margin: 0 0 20px

.place-to-be-callouts section
  display: flex
  flex-flow: row nowrap
  justify-content: flex-start
  align-items: flex-start

.place-to-be-callouts article
  width: 225px
  margin: 0 40px

.place-to-be-callouts article .separator
  width: 60px
  height: 2px
  margin: 10px auto
  background-color: #AE2D18

.place-to-be-callouts article p
  display: block
  margin: 0 auto
  padding: 10px 0 20px
  font-size: 1.6rem
  line-height: 2.2rem
  text-align: left

.establishment
  background-color: #12586C
  font-family: 'Galada', cursive
  font-size: 3.6rem
  line-height: 3.6rem
  color: #FFFFFF
  padding: 30px 0 20px
  text-align: center

.old-saloon-profile
  background: url('/img/old-saloon-building.jpg') no-repeat center center
  background-size: cover
  padding: 60px 0

.old-saloon-profile article
  width: 400px

.old-saloon-profile article figure
  margin: 0

.old-saloon-profile article figure img
  max-width: 100%
  display: block

.old-saloon-profile article p
  display: block
  margin: 0 auto
  padding: 20px 0 30px
  font-size: 1.6rem
  line-height: 2.2rem
  text-align: left

.old-saloon-profile article a
  display: block

footer
  background-color: #881403
  padding: 30px 0 80px

footer ul
  margin: 0
  padding: 0
  list-style: none
  display: flex
  flex-flow: row nowrap
  justify-content: center
  align-content: flex-start

footer ul li
  color: #FFFFFF
  border-right: solid 1px #FFFFFF
  padding: 20px 54px
  font-size: 1.6rem
  line-height: 2.8rem
  text-align: center

footer ul li:last-of-type
  border-right: none

footer ul li a,
footer ul li a:link,
footer ul li a:visited,
footer ul li a:active
  color: #FFFFFF

footer ul li time
  margin: 6px 0

footer ul li ul li
  border-right: none
  padding: 0 12px 0 0

footer ul li ul li a,
footer ul li ul li a:link,
footer ul li ul li a:visited,
footer ul li ul li a:active
  color: #FFFFFF
  font-size: 2.4rem
