header {
	background:url('./harrys-old-kettle.jpg') no-repeat center 30%;
	background-size: cover;
	max-width:1920px;
	height:750px;
	margin:0 auto;
}
header figure {
	margin:0;
	padding:0;
}
header .logo {
	width:250px;
	position:absolute;
	top:-68px;
	right:0;
}
header .logo img {
	max-width:100%;
}
header .callout {
	padding:100px 0 20px;
}
header .stop-by-today {

}