html {
  font-size:62.5%;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-size:1.4rem;
}
.pagebox {
  width:1170px;
  margin:0 auto;
  text-align:left;
  position:relative;
}
nav {
  background-color: #236E83;
  border-bottom: solid 2px #044354;
  color: #FFFFFF;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-flow: row nowrap;
}
nav ul.mainnav li {
  padding: 30px 40px 18px 0;
}
nav ul.mainnav li:last-of-type {
   padding:20px 0 18px 0;
 }
nav ul.mainnav li a {
  color: #FFFFFF;
  text-transform: uppercase;
  text-decoration: none;
  text-align: left;
  font-size: 1.6rem;
  display: block;
}
nav ul.mainnav li a span {
  font-size:1.2rem;
}
nav ul.social-block {
  position: absolute;
  top: 24px;
  left: 650px;
}
nav ul.social-block li {
  padding: 0 20px 0 0;
}
nav ul.social-block li a {
  color:#FFFFFF;
  font-size:2.4rem;
}
