html {
  font-size:62.5%;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-size:1.4rem;
}
.pagebox {
  width:1240px;
  margin:0 auto;
  text-align:left;
  position:relative;
}
a, a:link, a:active, a:visited {
  color:#BF0000;
}
a:hover {
  color:#F5A0A0;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
   clear: both;
}
